<div class="container">
{{ position_bottom_half }}
</div>
<div class="container">
{{ position_bottom }}
</div>
<div id="footer">
<div class="container">
{% if footer_block_1 and footer_block_1 != '<p><br></p>' %}
<div class="footer-top-block">
{{ footer_block_1 }}
</div>
{% endif %}
<div class="row links-holder">
<div class="col-xs-12 col-sm-8">
  <div class="row">
  {% if custom_links %}
    {% for column in basel_footer_columns %}
    <div class="footer-column col-xs-6 col-sm-6 {{ basel_columns_count }} eq_height">
      {% if column.title %}
        <h5>{{ column.title }}</h5>
      {% endif %}
      {% if column.links is defined %}
      <ul class="list-unstyled">
      {% for link in column.links %}
      <li><a href="{{ link.target }}">{{ link.title }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  {% else %}
      {% if informations %}
      <div class="footer-column col-xs-12 col-sm-4 eq_height">
        <h5> <a  role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
            {{ text_information }}  <b class="pull-right visible-xs">+</b>
          </a></h5>
          <div class="collapse in" id="collapse1">
              <ul class="list-unstyled">
                {% for information in informations %}
                <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                {% endfor %}
               
              </ul>
         </div>
      </div>
      {% endif %}
      <div class="footer-column col-xs-12 col-sm-4 eq_height">
        <h5> <a  role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
            {{ text_extra }} <b class="pull-right visible-xs">+</b> 
          </a></h5>

          <div class="collapse in" id="collapse2">
              <ul class="list-unstyled">
               
               <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                <li><a href="https://ec.europa.eu/consumers/odr/main/?event=main.home2.show">{{ text_sporovi }}</a></li>
                <li><a href="akcije">{{ text_special }}</a></li>
                <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
              </ul>
            </div>
      </div>
      <div class="footer-column hidden-xs col-sm-4 eq_height">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li class="is_wishlist"><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
 {% endif %}
</div><!-- .row ends -->
</div><!-- .col-md-8 ends -->
<div class="footer-column col-xs-12 col-sm-4">
<div class="footer-custom-wrapper">
{% if footer_block_title is defined %}
<h5>{{ footer_block_title }}</h5>
{% endif %}
{% if footer_block_2 and footer_block_2 != '<p><br></p>' %}
<div class="custom_block">{{ footer_block_2 }}</div>
{% endif %}
{% if footer_infoline_1 is defined %}
<p class="infoline">{{ footer_infoline_1 }}</p>
{% endif %}
{% if footer_infoline_2 is defined %}
<p class="infoline">{{ footer_infoline_2 }}</p>
{% endif %}
{% if footer_infoline_3 is defined %}
<p class="infoline">{{ footer_infoline_3 }}</p>
{% endif %}
{% if payment_img %}
<img class="payment_img" src="{{ payment_img }}" alt="" />
{% endif %}
</div>
</div>

 

  <div class="col-xs-12 text-center corvus">
    <a href="http://www.wspay.info" title="WSPay - internet Payment Gateway" target="_blank"><img src="image/catalog/credit-cards/wsPay.svg" style="max-width:140px" alt="WSPay Payment"></a>

  </div>

  <div class="col-xs-12 text-center cardspayment" style="margin-top:15px;margin-bottom:15px">
    <img style="height: 35px;margin-right:3px" src="image/catalog/credit-cards/visa.svg"  alt="visa">
    <img style="height: 35px;margin-right:3px" src="image/catalog/credit-cards/maestro.svg"  alt="maestro">
    <img style="height: 35px;margin-right:3px" src="image/catalog/credit-cards/mastercard.svg"  alt="mastercard">
    <img style="height: 35px;margin-right:3px" src="image/catalog/credit-cards/diners.svg"  alt="diners">


  </div>

</div><!-- .row ends -->






</div>
{% if basel_copyright %}
<div class="footer-copyright">{{ basel_copyright }}</div>
{% endif %}
</div>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="catalog/view/theme/basel/js/lightgallery/css/lightgallery.css" rel="stylesheet" />
<script src="catalog/view/theme/basel/js/jquery.matchHeight.min.js"></script>
<script src="catalog/view/theme/basel/js/countdown.js"></script>
<script src="catalog/view/theme/basel/js/live_search.js"></script>
<script src="catalog/view/theme/basel/js/featherlight.js"></script>

    <script>
        $(document).ready(function(){
          if ($(window).width() <= 768) {
            $("#collapse1").removeClass("in");
            $("#collapse2").removeClass("in");
             $("#collapse3").removeClass("in");
          }
        });
      </script>
{% if view_popup %}
    <!-- Popup -->
    <script>
        $(document).ready(function() {
            if ($(window).width() > {{ popup_width_limit }}) {
                setTimeout(function() {
                    $.featherlight({ajax: 'index.php?route=extension/basel/basel_features/basel_popup', variant:'popup-wrapper'});
                }, {{ popup_delay }});
            }
        });
    </script>
{% endif %}
{% if sticky_columns %}
    <!-- Sticky columns -->
    <script>
        if ($(window).width() > 767) {
            $('#column-left, #column-right').theiaStickySidebar({containerSelector:$(this).closest('.row'),additionalMarginTop:{{ sticky_columns_offset }}});
        }
    </script>
{% endif %}

{% if session.order_from_manager %}
    <script>
        /**
         * Some clicks don’t trigger a page load
         * (AJAX add-to-cart buttons, tab switches, quickviews).
         * Add a small beacon that auto-captures all in-site <a> clicks,
         * plus any element you annotate with data-track="".
         */
        (function(){
            var beaconUrl = '{{ url.link("extension/module/impersonation/beacon", "", true) }}';

            function classifyFromHref(href){
                try {
                    var u = new URL(href, location.origin);
                    if (u.origin !== location.origin) return null;
                    var r = u.searchParams.get('route') || '';
                    if (!r) {
                        // default routes like product/product without route param are rare, so bail
                        return { entity_type:'page', entity_id:null };
                    }
                    if (r === 'product/product' && u.searchParams.get('product_id')) {
                        return { entity_type:'product', entity_id: parseInt(u.searchParams.get('product_id')) || null };
                    }
                    if (r === 'product/category' && u.searchParams.get('path')) {
                        var parts = u.searchParams.get('path').split('_').filter(Boolean);
                        return { entity_type:'category', entity_id: parts.length ? parseInt(parts[parts.length-1]) : null,
                            category_path: u.searchParams.get('path') };
                    }
                    if ((r === 'product/manufacturer' || r === 'product/manufacturer/info') && u.searchParams.get('manufacturer_id')) {
                        return { entity_type:'manufacturer', entity_id: parseInt(u.searchParams.get('manufacturer_id')) || null };
                    }
                    if (r === 'information/information' && u.searchParams.get('information_id')) {
                        return { entity_type:'information', entity_id: parseInt(u.searchParams.get('information_id')) || null };
                    }
                    if (r === 'product/search') {
                        return { entity_type:'search', entity_id:null, search: u.searchParams.get('search') || u.searchParams.get('filter_name') || '' };
                    }
                    if (r === 'checkout/cart')  return { entity_type:'cart', entity_id:null };
                    if (r.startsWith('checkout/')) return { entity_type:'checkout', entity_id:null };
                    return { entity_type:'page', entity_id:null };
                } catch(e){ return null; }
            }

            document.addEventListener('click', function(e){
                var a = e.target.closest('a[href]');
                if (!a) return;

                // Prefer explicit annotations
                var et = a.dataset.entityType || null;
                var eid = a.dataset.entityId ? parseInt(a.dataset.entityId) : null;

                // If not annotated, try to infer from href
                var infer = (!et) ? classifyFromHref(a.getAttribute('href')) : null;
                if (!et && infer) {
                    et  = infer.entity_type;
                    eid = infer.entity_id || null;
                }

                // Only send for same-site links
                try {
                    var url = new URL(a.href, location.origin);
                    if (url.origin !== location.origin) return;
                } catch(_) { return; }

                var payload = {
                    action: 'link_click',
                    href: a.href,
                    text: (a.textContent || '').trim().slice(0,100),
                    entity_type: et || 'page',
                    entity_id: eid,
                    meta: {}
                };
                if (infer && infer.category_path) payload.meta.category_path = infer.category_path;
                if (infer && infer.search !== undefined) payload.meta.search = infer.search;

                var blob = new Blob([JSON.stringify(payload)], {type:'application/json'});
                navigator.sendBeacon(beaconUrl, blob);
            });

            // Generic UI actions via data-track
            document.addEventListener('click', function(e){
                var el = e.target.closest('[data-track]');
                if (!el) return;
                var payload = { action: el.dataset.track, meta: el.dataset.meta ? JSON.parse(el.dataset.meta) : null };
                navigator.sendBeacon(beaconUrl, new Blob([JSON.stringify(payload)], {type:'application/json'}));
            });
        })();
    </script>
{% endif %}

{% if view_cookie_bar %}
<!-- Cookie bar -->
<div class="basel_cookie_bar">
<div class="table">
<div class="table-cell w100">{{ basel_cookie_info }}</div>
<div class="table-cell button-cell">
<a class="btn btn-tiny btn-light-outline" onclick="$(this).parent().parent().parent().fadeOut(400);">{{ basel_cookie_btn_close }}</a>
{% if href_more_info is defined %}
<a class="more-info anim-underline light" href="{{ href_more_info }}">{{ basel_cookie_btn_more_info }}</a>
{% endif %}
</div>
</div>
</div>
{% endif %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
BASEL VERSION {{ basel_version }} - OPENCART VERSION 3 ({{ VERSION }}) 
//-->
</div><!-- .outer-container ends -->
<a class="scroll-to-top primary-bg-color hidden-sm hidden-xs" onclick="$('html, body').animate({scrollTop:0});"><i class="icon-arrow-right"></i></a>
<div id="featherlight-holder"></div>
</body></html>